.photo__item {
    max-width: 284px;
}

@media screen and (max-width: 1214px) {
    .photo__item {
        max-width: 300px;
    }    
}

@media screen and (max-width: 955px) {
    .photo__item {
        max-width: 352px;
    }    
}

@media screen and (max-width: 740px) {
    .photo__item {
        max-width: 288px;
    }    
}