.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0;
    padding: 26px 0 0;
}

.place__paragraph:nth-child(1) {
    padding: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        padding-top: 25px;
        font-size: 16px;
        max-width: 352px;
        margin: 0 auto;
    }    
}

@media screen and (max-width: 768px) {
    .place__paragraph:nth-child(1) {
        padding-top: 0;
    }    
}

@media screen and (max-width: 614px) {
    .place__paragraph {
        padding-top:25px;
        padding-left: 16px;
        padding-right: 16px;
    }    
}

@media screen and (max-width: 614px) {
    .place__paragraph:nth-child(1) {
        padding-top: 32px;
        padding-left: 16px;
        padding-right: 16px;
    }    
}