.lead__image {
    max-width: 984px;
    padding: 64px 0 0;
}

@media screen and (max-width: 1214px) {
    .lead__image {
        padding-top: 56px;
        max-width: 928px;
    }
}

@media screen and (max-width: 948px) {
    .lead__image {
        max-width: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 614px) {
    .lead__image {
        padding-top: 40px;
    }
}
