.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    margin: 0;
    padding: 32px 0 0;
    text-align: center;
    opacity: 0.3;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        opacity: 1;
    }
}

@media screen and (max-width: 696px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
}