.cover__overlay {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: none;
}

.cover__overlay::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .3;
    transition: .8s;
}

.cover__overlay:hover::before {
    opacity: .8;
    background: #2A2C2F;
    cursor: url(../../../images/Imported\ Layers\ Copy\ 4.png), pointer;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        min-height: 640px;
    } 
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        min-height: 480px;
    } 
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        min-height: 320px;
    } 
}