.place {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 80px 0 0;
}

.place:first-child {
    padding: 0;
}

@media screen and (max-width: 614px) {
    .place {
        padding-top: 50px;
    } 
}

@media screen and (max-width: 614px) {
    .place:first-child {
        padding: 0;
    }
}