.photo {
    display: grid;
    max-width: 1184px;
    margin: 0 auto;
    padding: 92px 0 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

@media screen and (max-width: 1214px) {
    .photo {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        max-width: 928px;
        gap: 14px;
    }    
}

@media screen and (max-width: 955px) {
    .photo {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        max-width: 720px;
    }    
}

@media screen and (max-width: 740px) {
    .photo {
        max-width: 604px;
        justify-content: center;
    }    
}

@media screen and (max-width: 605px) {
    .photo {
        grid-template-columns: 288px;
        grid-template-rows: repeat(12, 1fr);
        padding-top: 64px;
    }    
}